body {margin:0;}

.header {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  color: #000;
  background-size: cover;
  margin-top: 1px;
}
.footer {
  margin-top: 20px;
  color: #000000;
  background-color: #81818100;
}


{
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}




.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 250px;
  left: 100px;
  color: white;
  font-size: 70px;
}

.text-block2 {
  position: absolute;
  top: 250px;
  left: 100px;
  color: white;
  font-size: 70px;
}





.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 30vh;
  padding: 40px;

}

.card:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}




.cardbutton {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 5vh;
  padding: 40px;
}

.cardbutton:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}




.cardinfo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 10vh;
  float: left;
  margin-left: 15vh;
  padding: 40px;
}

.cardinfo:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}




.cardinfo2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 10vh;
  margin-right: 15vh;
  float: right;
  padding: 40px;
}

.cardinfo2:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}


.cardinfo3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 10vh;
  margin-left: 70vh;
  float: unset;
  padding: 40px;
}

.cardinfo3:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}

.cardinfoBIG {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.4);
  margin-top: 5vh;
  margin-left: 15vh;
  float: unset;
  padding: 30px;
}

.cardinfoBIG:hover {
  box-shadow: 0 10px 18px 0 rgb(0, 0, 0);
}





.first {
  width: 100%;
  height: 100%;
}

.second {
  width: 100%;
  height: 965px;
  background-image: url(panda2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.button1{
  background-color: rgb(255, 255, 255); /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}






/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(255, 255, 255);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 0, 0) transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.dierenwergaven {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 110%; 
}

.dierenwergaven, th {
  text-align: left;
  padding: 8px;
}


